.general {
    border-collapse: collapse;
    width: 600px;
    background-color: #0c131b;

}
img{
    vertical-align: bottom;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 55px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
}
h2 {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: #bcbcbd;
    font-weight: bold;
    font-family: "Arial";
}
p {
    padding: 1px 54px;
    font-size: 14px;
    line-height: 22px;
    color: #86918c;
    font-family: "Arial";
}
span {
    color: #e8a336;
}
.show_kart a {
    color: #fa5d26;
}

.knopka {
    text-align: center;
}

.knopka a {
    display: inline-block;
}
.knopkar {
    padding-bottom: 30px;
}


.pre-order h2 {
    font-size: 36px;
    color: #20b4bb;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.pre-order span {
    color: #9f15a9;
}
.pre-order h3 {
    margin-bottom:15px;
    color: #bcbcbd;
    font-family: "Arial";
}
.last h2 {
    padding-left: 30px;
    padding-right: 30px;
}
.prop {
    
    font-size: 11px;
    line-height: 22px;
    color: #85908c;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.knopka_show p {
    margin-bottom: 60px;
    margin-top: 40px;

}
.connect {
    background-color: #eed3a8;
}
.connect h2 {
    margin: 30px;
    font-size: 36px;
    color: #263870;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}
.connect p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
    font-family: "Arial";
    text-align: center;
}
.connect span,
.connect a {
    color: #c17029;
}
.social  {
    text-align: center;
    padding-bottom: 20px;
    background-color: #eed3a8;
}
